// ------------------- CASE STUDY ---------------------------

.casestudy {
  padding-top: 5rem;
  padding-bottom: 10rem;
  .title {
    margin-bottom: 10rem;
  }
  .case {
    padding-bottom: 5rem;
    &__wrap {
      position: relative;
      z-index: 30;
      &::before {
        content: "";
        position: absolute;
        background: $gradient;
        border-radius: $border-radius-c;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $transition, opacity 0.6s ease;
        opacity: 0;
        z-index: -2;
      }
      &::after {
        content: "";
        position: absolute;
        background: $dark;
        border-radius: $border-radius-b;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    &:hover {
      .case__img {
        img {
          transform: scale(1.1);
        }
      }
      .case__wrap {
        &::before {
          width: calc(100% + 6px);
          height: calc(100% + 6px);
          opacity: 1;
        }
      }
      .case__title,
      .case__desc,
      .case__tags {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    &__title,
    &__desc,
    &__tags {
      padding-right: 1rem;
    }
    &__img,
    &__title,
    &__desc,
    &__tags {
      position: relative;
      transition: $transition;
    }

    &__img {
      // max-width: 446px;
      // height: 48rem;
      overflow: hidden;
      border-radius: $border-radius-b;
      aspect-ratio: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: 0.5s ease-in-out;
      }
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 2.2rem;
      color: #fff;
    }
    &__desc {
      // font-size: 1.3rem;
      font-weight: 400;
      color: $grey;
      padding-top: 1rem;
      line-clamp: 2;
      text-overflow: clip;
    }
    &__tags {
      ul {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
      }
      li {
        list-style-type: none;
        font-size: 0.8rem;
        color: $secondary;
        border: 1px solid $secondary;
        padding: 0.5rem 1rem;
        border-radius: $border-radius-b;
        text-transform: uppercase;
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }
    }
    &__more {
      font-size: 1.2rem;
      font-weight: 600;
      color: $secondary;
      text-transform: uppercase;
      padding-top: 2.2rem;
    }
  }
}

.single-casestudy {
  .title h1 {
    @include rfs(5.2rem);
    @include media-breakpoint-down(md) {
      @include rfs(4.2rem);
    }
  }
  .page-header {
    margin-bottom: 1rem;
  }
}
article.casestudy {
  padding-top: 0rem;
  img {
    border-radius: $border-radius;
  }
  .wp-block-image:not(.is-style-rounded) > a,
  .wp-block-image:not(.is-style-rounded) img {
    border-radius: $border-radius;
  }
}
