// ------------------- CASE STUDY ---------------------------

.casestudy {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .title {
    margin-bottom: 10rem;
  }
  .case {
    padding-bottom: 5rem;
    &__img {
      // max-width: 446px;
      // height: 48rem;
      overflow: hidden;
      border-radius: $border-radius-b;
      aspect-ratio: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 2.2rem;
    }
    &__desc {
      // font-size: 1.3rem;
      font-weight: 400;
      color: $grey;
      padding-top: 1rem;
      line-clamp: 2;
      text-overflow: clip;
    }
    &__tags {
      padding: 1rem 0;
      display: flex;
      gap: 1rem;
      li {
        list-style-type: none;
        font-size: 0.8rem;
        color: $secondary;
        border: 1px solid $secondary;
        padding: 0.5rem 1rem;
        border-radius: $border-radius-b;
        text-transform: uppercase;
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }
    }
    &__more {
      font-size: 1.2rem;
      font-weight: 600;
      color: $secondary;
      text-transform: uppercase;
      padding-top: 2.2rem;
    }
  }
}
