.page-header{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    min-height: 48rem;
    position: relative;
    margin-bottom: 5rem;
    a,.title{
        position: relative;
        z-index: 50;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 50%;
        background: linear-gradient(180deg, rgba(22,22,21,0) 0%, rgba(22,22,21,1) 100%);
    }
}

.page-header-bg{
    background: url("../img/main_bg.webp");
    background-repeat: repeat-x;
    background-position-y: 85%;
    animation: slide2 600s linear infinite;
    transform-origin: top;
}

.aux-header{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    &::before,&::after{
        content: "";
        background-image: url("../img/icons/aux-icons.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }
    &::before{
        width: 10.2rem;
        height: 60rem;
    }
    &::after{
        width: 20.4rem;
        height: 119rem;
    }
    &__page{
        &::before{
            left: 5rem;
            bottom: 20rem;
        }
        &::after{
            right: 5rem;
            bottom: 20rem;
        }
    }
    &__main{
        &::before{
            left: 5rem;
            bottom: 0rem;
        }
        &::after{
            right: 5rem;
            bottom: 7rem;
        }
    }
}




@keyframes slide1{
    0%,100%{
        background-position-x: 0%;
    }
    50%{
        background-position-x: 100%;
    }

}
@keyframes slide2{
    0%{
        background-position-x: 0%;
    }
    50%{
        background-position-x: 500%;
    }
    100%{
        background-position-x: 1000%;
    }
}
@keyframes slidep{
    0%{
        background-position-x: 0%;
        transform: perspective(1000px) rotateX(0deg) scale(1);
    }
    50%{
        background-position-x: 100%;
        transform: perspective(800px) rotateX(30deg) scale(1.0);
    }
    100%{
        background-position-x: 200%;
        transform: perspective(1000px) rotateX(0deg) scale(1);
    }
}




.back-to-main{
    font-size: 1.3rem;
    color: $grey;
    padding: 0.5rem;
    &:hover{
        color: $primary;
    }
}