.page-header{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    min-height: 48rem;
    position: relative;
    margin-bottom: 5rem;
    a,.title{
        position: relative;
        z-index: 50;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 50%;
        background: linear-gradient(180deg, rgba(22,22,21,0) 0%, rgba(22,22,21,1) 100%);
    }
}

.page-header-bg{
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: url("../img/main_bg.webp");
        background-repeat: repeat-x;
        background-position-y: 85%;
        animation: slidep 180s linear infinite;
        // transform-origin: bottom;
    }
}

.aux-header{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    &::before,&::after{
        content: "";
        background-image: url("../img/icons/aux-icons.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }
    &::before{
        width: 10.2rem;
        height: 60rem;
        left: 5rem;
        @include media-breakpoint-down(md){
            left:0;
            transform: translateX(-50%);
        }
    }
    &::after{
        width: 20.4rem;
        height: 119rem;
        right: 5rem;
        @include media-breakpoint-down(md){
            right:0;
            // transform: translateX(50%);
        }
    }
    &__page{
        &::before{
            bottom: 20rem;
        }
        &::after{
            bottom: 20rem;
        }
    }
    &__main{
        &::before{
            bottom: 0rem;
        }
        &::after{
            bottom: 7rem;
        }
    }
}




.back-to-main{
    font-size: 1.3rem;
    color: $grey;
    padding: 0.5rem;
    &:hover{
        color: $primary;
    }
}


.tpl-404{
    padding-top:30rem;
    padding-bottom: 10rem;
    a{
        font-size: 2rem;
    }
}