.navbar-brand {
    display: flex;
    align-items: center;
	img {
		height: 40px;
	}
}



#header{
    position: absolute;
    width: 100%;
    z-index: 1500;
}

.navbar{
    background-color: transparent;
    transition: $transition;
    padding: 5rem 0;
    .menu-item{
        @include media-breakpoint-up(lg){
            padding-left: 2rem;
            padding-right: 2rem;
        }
        &:hover{
            .nav-link{
                color: $primary;
            }
        }
    }
    .navbar-nav .nav-link{
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }
    .current-lang{
        .nav-link{
            text-decoration: underline;
        }
    }


}
.navbar.nav-opened{
    background-color: rgba($color: $dark, $alpha: 1);
}


.navbar>.navbar-container{
    @include media-breakpoint-up(lg){
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-auto-columns: auto;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}


#footer{
    background-color: transparent;
}

.footer{
    padding-top: 20rem;
    .title{
        margin-bottom: 14.5rem;
    }
    &__txt{
        h3{
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 3.5rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
    &-card{
        border-radius: $border-radius-b;
        border: 3px solid $secondary;
        display: grid;
        max-width: 53rem;
        grid-template-columns: 25rem auto;


        img{
            max-width: 25rem;
            width: 100%;
            height: auto;
        }
        &__cont{ //name + btn
            display: grid;
            align-content: center;
        }
        &__meta{
            padding-top: 2rem;
            padding-left: 3rem;
            padding-bottom: 2.4rem;
        }
        &__name{
            font-size: 1.8rem;
            font-weight: 500;
        }
        &__position{
            font-size: 1.3rem;
        }
        &__btn{
            display: inline-flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 1.5rem 4rem 1.5rem 3rem;
            transform: translateX(-2rem);
            svg{
                margin-right: 1.3rem;
                max-width: 2.6rem;
                min-height: 1.65rem;
            }
        }
    }
    .copyright{
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.09rem;
        color: $grey;
        padding-top: 20rem;
        padding-bottom: 2rem;
    }
}


.nav-socials{
    display: grid;
    grid-template-areas: "a a a";
    gap: 2rem;
    grid-auto-columns: auto;
    padding-right: 4rem;
    a{
        svg,path{
            transition: $transition;
        }
        &:hover{
            svg,path{
                fill: $primary;
            }
        }
    }
}


